
/*background color: #f0efef
yellow: #f9e42e
dark blue: #033048
light grey: #606161
almost black: #121212*/

*{box-sizing: border-box;
margin: 0}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0efef;
  color: #606161;
  font-weight: 300;
}
main {
  padding: 2rem 0;
  float: left;
  width: calc(65% - 2rem);
  margin-left: 2rem;
}

aside {
  padding: 2rem 0;
  float: left;
  width: calc(35% - 4rem);
  margin: 0 2rem;
}

section {
  clear: both;
}

/*
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 65% 25%;
  grid-template-rows: auto;
  grid-gap: 0 1rem;
  grid-template-areas:
  "header header"
  "main aside"
  "cta cta"
  "footer footer";
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
section {
  grid-area: cta;
}
footer {
  grid-area: footer;
}*/

a {
  text-decoration: none;
  color: #033048;
}


header {
  background-color: #033048;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.social > img {
  height: 2rem;
}

header nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
header a {
  color: #f9e42e;
  font-weight: 600;
}
article {
  margin: 1rem 0;
}
main h2 {
  color: #033048;
  font-size: 2rem;
  font-weight: 600;
}

main img {
  width: 100%;
}

main p {
  font-size: 1.1em;
}

article p:first-of-type:first-letter {
  font-size: 2rem;
  font-weight: 900;
} /*Drop Cap*/

.read-more {
  display: block;
  color: #033048;
  padding: 1rem, 0;
  border-bottom: 1px solid;
  font-size: 1.1em;
  font-weight: 600;
  text-align: right;
}

article a {
  display: block;
  border-bottom: 1px solid;
  text-align: right;
  padding: 1rem 0;
}

aside,
aside a {
  color: #033048;
}

aside h3,
aside nav,
aside p {
  margin-bottom: 1em;
}


aside nav a {
  display: block;
}

aside div {
  background: white;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  padding: 1em;
  min-height: 30rem;
}

#cta {
  background-color: #f9e42e;
  padding: 3rem;
  text-align: center;
}

#cta button {
  background-color: #033048;
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  padding: 1rem 1.5rem;
  border-color: transparent;
  border-radius: 8px;
}

footer {
  background-color: #033048;
  text-align: center;
  padding: 2rem;
}

footer nav {
  padding: 1rem;
}

footer nav a {
  margin: 1rem;
}

footer nav img {
  height: 2rem;
  margin: 1rem;
}

footer p {
  color: white;
}

footer::after {
  content: "Copyright 2018 Relaxr";
  color: white;
  font-size: .75em;
}
