*{
  box-sizing: border-box;
  margin: 0;
}

html{
  background-color: #343434;
  color: #16b1b5;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 24px;
  scroll-behavior: smooth;
}

header{
  padding: 40px;
}
h1{
  line-height: .8;
}
p{
  margin: 1em 0;
}
nav{
  padding: 1em 0;
  font-size: 16px;
  text-align: center;
}
a{
  color: white;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid white;
}
#work{
  background-color: #16b1b5;
  padding: 40px;
  color: white;
  column-count: 2;

}
#hobbies{
  padding: 40px;
}
#gallery{
  column-count: 3;
  column-gap: 0;
  background-color: #16b1b5
}
.work {
  break-inside: avoid;
}
img{
  width: 100%;
  display: block;
}

.image {
  position: relative;
  background-color: #16b1b5;
}
.image
p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #16b1b5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  opacity: 0;
  transition: opacity 1s;
}

div:hover p {
  opacity: 1;
}

footer{
  text-align: center;
  padding-bottom: 40px;
}
